<div id="workspace">
	<div id="sidebar">
		<button id="create" class="btn btn-success">Create</button>
	</div>
	<div id="rightbar">
		<div id="options">

		</div>
		<div id="options-buttons">
			<div class="options-header">Buttons</div>
			<div class="option">
				<button id="save" class="btn btn-success">Save</button>
			</div>
		</div>
	</div>
	<div id="worksheet">
		<div id="page-container">
			<div id="page"></div>
		</div>
	</div>
</div>

<script id="general-options-template" type="text/template">
	<div id="general-options" class="options-panel">
		<div class="options-header">General</div>
		<div class="options">
			<div class="option">
				<div class="option-label">Identifier</div>
				<div class="option-value">
					<input id="identifier" type="text" disabled value="<%%= identifier %>"/>
				</div>
			</div>
			<div class="option">
				<div class="option-label">Object</div>
				<div class="option-value">
					<select id="object">
						<option value="text">Text</option>
						<option value="visualization">Visualization</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="visualization-options-template" type="text/template">
	<div id="visualization-options" class="options-panel options-object">
		<div class="options-header">Visualization</div>
		<div class="options">
			<div class="option">
				<div class="option-label">Dataset</div>
				<div class="option-value">
					<select id="dataset">
						<option value="---">----</option>
						<%= @datasets.each do |dataset| %>
						<option value="<%= dataset.identifier %>"><%= dataset.name %></option>
						<% end %>
					</select>
				</div>
			</div>
			<div class="option">
				<div class="option-label">Type</div>
				<div class="option-value">
					<select id="chart">
						<option value="---">----</option>
						<option value="bar">Bar</option>
						<option value="pie">Pie</option>
						<option value="line">Line</option>
						<option value="geo">Geospatial</option> 
					</select>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="bar-options-template" type="text/template">
	<div id="bar-options" class="options-panel options-chart">
		<div class="options-header">Bar Chart</div>
		<div class="options">
			<div class="option">
				<div class="option-label">X-Axis</div>
				<div class="option-value">
					<select id="xaxis">
					<%% for (var key in attributes) { %>
						<option value="<%%= attributes[key].id %>"><%%= attributes[key].id %></option>
					<%% } %>
					</select>
				</div>
			</div>
			<div class="option">
				<div class="option-label">Y-Axis</div>
				<div class="option-value">
					<select id="yaxis">
					<%% for (var key in attributes) { %>
						<option value="<%%= attributes[key].id %>"><%%= attributes[key].id %></option>
					<%% } %>
					</select>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="line-options-template" type="text/template">
	<div id="line-options" class="options-panel options-chart">
		<div class="options-header">Line Chart</div>
		<div class="options">
			<div class="option">
				<div class="option-label">X-Axis</div>
				<div class="option-value">
					<input id="xaxis" type="text" />
				</div>
			</div>
			<div class="option">
				<div class="option-label">Y-Axis</div>
				<div class="option-value">
					<input id="yaxis" type="text" />
				</div>
			</div>
		</div>
	</div>
</script>

<script id="pie-options-template" type="text/template">
	<div id="pie-options" class="options-panel options-chart">
		<div class="options-header">Pie Chart</div>
		<div class="options">
			<div class="option">
				<div class="option-label">Label</div>
				<div class="option-value">
					<select id="selection">
					<%% for (var key in attributes) { %>
						<option value="<%%= attributes[key].id %>"><%%= attributes[key].id %></option>
					<%% } %>
					</select>
				</div>
			</div>
		</div>
	</div>
</script>

<script id="geo-options-template" type="text/template">
	<div id="geo-options" class="options-panel options-chart">
		<div class="options-header">Geo Chart</div>
		<div class="options"></div>
	</div>
</script>


<script>

	var currentModel;
	var currentDataset;
	var generalOptions;
	var objectOptions;
	var chartOptions;

	// Taken from http://twitter.github.io/typeahead.js/examples/
	var substringMatcher = function(strs) {
	  return function findMatches(q, cb) {
	    var matches, substringRegex;
	 
	    // an array that will be populated with substring matches
	    matches = [];
	 
	    // regex used to determine if a string contains the substring `q`
	    substrRegex = new RegExp(q, 'i');
	 
	    // iterate through the pool of strings and for any string that
	    // contains the substring `q`, add it to the `matches` array
	    $.each(strs, function(i, str) {
	      if (substrRegex.test(str)) {
	        // the typeahead jQuery plugin expects suggestions to a
	        // JavaScript object, refer to typeahead docs for more info
	        matches.push({ value: str });
	      }
	    });
	 
	    cb(matches);
	  };
	};

	var Visualization = Backbone.Model.extend({
		
		urlRoot: function() {

			if (!this.attributes.identifier) {
				return '/visualization';
			} else {
				return '/visualization/' + this.attributes.identifier;
			}

		},
		
		initialize: function() {

			this.on('change', this.updateOptions);
		
		},

		updateOptions: function() {
			
			// Send things to the server

		}

	});

	var Dataset = Backbone.Model.extend({

		urlRoot: function() {

			if (!this.attributes.identifier) {
				return '/dataset';
			} else {
				return '/dataset/' + this.attributes.identifier;
			}

		},

		initialize: function() {

			this.set('worksheet', '<%= @worksheet.identifier %>');
			this.on('change', this.updateOptions);
		
		}

	});

	var GeneralOptions = Backbone.View.extend({

		el: '#options',

		initialize: function() {

			this.render();

		},
		
		// Render the filterTemplate within the filterAttribute div
		render: function() {
			
			// Create the template from our options
			var template = _.template($('#general-options-template').html(), {
				'identifier': currentModel.get('identifier'),
			});

			// Replate everything in the options panel
			$('#options').html(template);
			$('#general-options').show();
			$('#object').val(currentModel.get('object'));

			// Load the right editor
			this.changeObject();

		},

		// Events that the view responds to
		events: {

			'change #object'							: 'changeObject',
			'click #general-options div.options-header'	: 'showGenOptions'

		},

		showGenOptions: function() {

			$('.options').slideUp(function() {

				$('#general-options div.options').slideDown();

			});

		},

		changeObject: function() {

			// Get the selected type
			var object = $('#object').find(':selected').val();

			currentModel.set('object', object);

			// Open the Visualization panels
			if (object == 'visualization') {

				objectOptions = new VisualizationOptions();

			}

			if (object == 'text') {

				// Show the text sidebar editors

			}

		}

	});

	var VisualizationOptions = Backbone.View.extend({

		el: '#options',

		initialize: function() {
			this.render();
		},
		
		// Render the filterTemplate within the filterAttribute div
		render: function() {
			
			// Create the template from our options
			var template = _.template($('#visualization-options-template').html(), {});

			// Remove any items tagged with options-chart
			$('.options-chart').remove();

			// Also remove anything tagged options-object
			$('.options-object').remove();

			// Append to the options panel
			$('#options').append(template);
			$('#visualization-options').slideDown();

			$('#dataset').val(currentModel.get('dataset'));
			$('#chart').val(currentModel.get('chart_type'));

			// Load the right editors
			this.changeDataset();
			this.changeChart();

		},

		events: {

			'change #dataset'									: 'changeDataset',
			'change #chart'										: 'changeChart',
			'click #visualization-options div.options-header'	: 'showVizOptions'

		},

		showVizOptions: function() {

		},

		changeDataset: function() {

			// Get the selected type
			var dataset = $('#dataset').find(':selected').val();

			currentModel.set('dataset', dataset);

			// Attempt to preload data about the dataset
			var datasetModel = new Dataset({ 'identifier': dataset });
			datasetModel.fetch({

				success: function() {

					// Cache the current dataset
					currentDataset = datasetModel;

					// Reload certain things
					console.log(currentDataset);

				}

			});


		},

		changeChart: function() {

			// Get the selected type
			var chart = $('#chart').find(':selected').val();

			currentModel.set('chart_type', chart);

			// Open the Visualization panels
			if (chart == 'bar') {

				graphOptions = new BarOptions();

			}

			if (chart == 'line') {

				graphOptions = new LineOptions();

			}		
			
			if (chart == 'pie') {

				graphOptions = new PieOptions();

			}	

			if (chart == 'geo') {

				graphOptions = new GeoOptions();

			}	

		}

	});

	var BarOptions = Backbone.View.extend({

		el: '#options',

		initialize: function() {
			this.render();
		},
		
		// Render the filterTemplate within the filterAttribute div
		render: function() {
			
			// Parse the attributes to a valid JSON object
			var attrs = currentDataset.get('attrs');

			// Create the template from our options
			var template = _.template($('#bar-options-template').html(), { 'attributes': attrs });

			// Remove any items tagged with options-chart
			$('.options-chart').remove();

			// Append to the options panel
			$('#options').append(template);
			$('#bar-options').slideDown();

			// Trigger the X and Y axis settings
			this.changeXAxis();
			this.changeYAxis();

		},

		events: {

			'change #xaxis'						: 'changeXAxis',
			'change #yaxis'						: 'changeYAxis'

		},

		changeXAxis: function() {

			var chart_options = currentModel.get('chart_options');

			if (!chart_options) {
				chart_options = {}
			}

			chart_options['xaxis'] = $('#xaxis').val();

			currentModel.set('chart_options', chart_options);

			console.log(currentModel);

		},

		changeYAxis: function() {
			
			var chart_options = currentModel.get('chart_options');

			if (!chart_options) {
				chart_options = {}
			}		

			chart_options['yaxis'] = $('#yaxis').val();

			currentModel.set('chart_options', chart_options);

		}


	});

	var LineOptions = Backbone.View.extend({

		initialize: function() {
			this.render();
		},
		
		// Render the filterTemplate within the filterAttribute div
		render: function() {
			
			// Create the template from our options
			var template = _.template($('#line-options-template').html(), {});

			// Remove any items tagged with options-chart
			$('.options-chart').remove();

			// Append to the options panel
			$('#options').append(template);
			$('#line-options').slideDown();

		}

	});

	var PieOptions = Backbone.View.extend({

		initialize: function() {
			this.render();
		},
		
		// Render the filterTemplate within the filterAttribute div
		render: function() {
			
			// Parse the attributes to a valid JSON object
			var attrs = JSON.parse(currentDataset.get('attrs'));

			// Create the template from our options
			var template = _.template($('#pie-options-template').html(), { 'attributes': attrs });

			// Remove any items tagged with options-chart
			$('.options-chart').remove();

			// Append to the options panel
			$('#options').append(template);
			$('#pie-options').slideDown();

		}

	});

	var GeoOptions = Backbone.View.extend({

		initialize: function() {
			this.render();
		},
		
		// Render the filterTemplate within the filterAttribute div
		render: function() {
			
			// Create the template from our options
			var template = _.template($('#geo-options-template').html(), {});

			// Remove any items tagged with options-chart
			$('.options-chart').remove();

			// Append to the options panel
			$('#options').append(template);
			$('#geo-options').slideDown();

		}

	});

	var container = document.querySelector('#page');
	var packery = new Packery(container, {
		gutter: 20,
		columnWidth: 220,
		rowHeight: 200
	});

	var itemElems = packery.getItemElements();
	for (var i = 0, len = itemElems.length; i < len; i++) {
		var elem = itemElems[i];
		var draggable = new Draggabilly(elem);
		draggable.on('dragEnd', evaluateEvent);
		packery.bindDraggabillyEvents(draggable);
	}

	$('#create').click(function() {

		// Create a new element
		var elem = document.createElement('div');
		elem.className = 'visualization';
		elem.style.width = 220 + 'px';
		elem.style.height = 200 + 'px';

		// Put it inside the container
		container.appendChild(elem);

		// Add to Packery
		packery.appended(elem);

		// Create a new Visualization object
		var visualization = new Visualization();

		// Attempt to save it
		visualization.save({worksheet: '<%= @worksheet.identifier %>' }, {

			success: function(model, response) {
			
				// Set the id 
				elem.id = response.identifier;

				// Simulation of a visualization click event
				clickVisualization(elem);
		
			},

			error: function(model, response) {

			}

		});

		// Activate Draggabilly on it
		var draggable = new Draggabilly(elem);
		draggable.on('dragStart', startEvent);
		draggable.on('dragEnd', evaluateEvent);
		packery.bindDraggabillyEvents(draggable);

	});

	$('#save').click(function() {

		currentModel.save();

	});

	function startEvent(draggable) {

		setSelection(draggable.element);

	}

	function setSelection(element) {

		// First deselect all
		deselectAll();

		// Toggle the selected class for the visualization in question
		$(element).toggleClass('selected');

	}

	// Evaluates the dragging of a worksheet item
	function evaluateEvent(draggable) {

		var dragPoint = draggable.dragPoint;

		// Corresponds to a click event
		if (dragPoint.x === 0 && dragPoint.y === 0) {

			clickVisualization(draggable.element);

		} 

		// Corresponds to a drag event
		else {



		}

	}

	function clickVisualization(element) {

		// Set the selection
		setSelection(element);

		// Load the sidebar
		loadSidebar(element);

	}

	function loadSidebar(element) {

		// Get the identifier of the element
		var identifier = element.id;

		// Attempt to fetch the model
		var model = new Visualization({ 'identifier': identifier });
		model.fetch({

			success: function() {

				// Unload listeners
				unloadListeners();

				// Set the current model to the model we just retrieved
				currentModel = model;
				
				// Create a new instance of the general options view
				generalOptions = new GeneralOptions();

			}

		});

	}

	function unloadListeners() {

		// Unload if exists
		if (generalOptions) {
			generalOptions.undelegateEvents();
		}
		if (objectOptions) {
			objectOptions.undelegateEvents();
		}
		if (chartOptions) {
			chartOptions.undelegateEvents();
		}

	}

	function loadVisualizationSidebar() {



	}

	function loadLineSidebar() {

		// Remove sidebars that correspond to other data types
		removeChartSidebars();
		
		// Load our new sidebar in


	}

	function deselectAll() {

		$('.visualization').each(function() {
			$(this).removeClass('selected');
		});

	}

</script>