<div class="container" style="margin: 40px auto;">
	<div class="row">
		<div class="col-xs-6">
			<strong>Column Title</strong>
			<div class="col-xs-6">
				<strong>Column Type</strong>
			</div>
			<%= form_tag({:action => 'verify'}, {}) do %>
			<div id="json-attributes" style="margin: 10px 0px;">
			<input type="hidden" value="<%= @file_data %>" />
			<% @dataset.attrs.each do |attrHash| %>
			<div class="row" style="margin-bottom: 5px;">
				<div class="col-xs-6">
					<input type="text" class="form-control" value="<%= attrHash["id"] %>" disabled />
				</div>
				<div class="col-xs-6">
					<select name="<%= attrHash[:id] %>" class="form-control">
						<option value="string" <%= attrHash["type"]== 'string' ? "selected" : "" %>>String</option>
						<option value="number" <%= attrHash["type"] == 'number' ? "selected" : "" %>>Number</option>
						<option value="datetime" <%= attrHash["type"] == 'datetime' ? "selected" : "" %>>Date</option>
						
					</select>
				</div>
			</div>
			<% end %>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<% end %>
		</div>
<!-- 		<div class="col-xs-6">
			<strong>Uploaded Preview</strong>
			<pre id="json-preview" style="margin: 10px 0px;"><%= JSON.pretty_generate(@dataset.attrs) %>
			</pre>
		</div> -->
	</div>
</div>
<script>
	//var sample = JSON.parse('<%= @sample.to_s.html_safe %>');
	//document.getElementById('json-preview').innerHTML = JSON.stringify(sample, null, 2);
</script>