<div class="container" style="margin: 40px auto;">
	<div class="row">
		<div class="col-xs-6">
			<strong>Parsed attributes</strong>
			<%= form_tag({:action => 'verify'}, {}) do %>
			<div id="json-attributes" style="margin: 10px 0px;">
			<input type="hidden" value="<%= @file_data %>" />
			<% @attributes.each do |attribute, type| %>
			<div class="row" style="margin-bottom: 5px;">
				<div class="col-xs-6">
					<input type="text" class="form-control" value="<%= attribute %>" disabled />
				</div>
				<div class="col-xs-6">
					<select name="<%= attribute %>" class="form-control">
						<option value="String" <%= type == 'String' ? "selected" : "" %>>String</option>
						<option value="Numeric" <%= type == 'Numeric' ? "selected" : "" %>>Numeric</option>
						<option value="Date" <%= type == 'Date' ? "selected" : "" %>>Date</option>
						<option value="Monetary (USD)" <%= type == 'Monetary (USD)' ? "selected" : "" %>>Monetary</option>
					</select>
				</div>
			</div>
			<% end %>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
			<% end %>
		</div>
		<div class="col-xs-6">
			<strong>Sample JSON Preview</strong>
			<pre id="json-preview" style="margin: 10px 0px;"></pre>
		</div>
	</div>
</div>
<script>
	var sample = JSON.parse('<%= @sample.to_s.html_safe %>');
	console.log(sample);
	document.getElementById('json-preview').innerHTML = JSON.stringify(sample, null, 2);
</script>