<div class="container">
	<h3><%= @dataset.name %></h3>
	<div id="information" style="margin: 30px 0px;">
		<div class="row">
			<div class="col-xs-6">
				<table class="table">
					<tr>
						<td>Records</td>
						<td><%= @dataset.datadocs.count %></td>
					</tr>
					<tr>
						<td>Created</td>
						<td><%= @dataset.created_at %></td>
					</tr>
					<tr>
						<td>Last Updated</td>
						<td><%= @dataset.updated_at %></td>
					</tr>
					<tr>
						<td>Endpoint</td>
						<td><a href="/api/<%= @dataset.base_url %>">/api/<%= @dataset.base_url %></a></td>
					</tr>
				</table>
			</div>
			<div class="col-xs-6">
				<pre id="attributes"></pre>
			</div>
		</div>
	</div>
	<div id="charts">
		<h3>Charts</h3>
		<div id="chart-pie">
			<h4>Pie Chart Demo</h4>
			<p>Select a key and aggregate to generate a pie chart. If the key is the same as the aggregate, the count of the key will be taken.</p>
			<form id="chart-pie-form" role="form" style="margin: 10px 0px 20px 0px;">
			<div class="row">
				<div class="col-xs-3">
					<select class="form-control" name="chart-pie-key">
						<% JSON.parse(@dataset.attrs).each do |key, value| %>
						<option><%= key %></option>
						<% end %>
					</select>
				</div>
				<div class="col-xs-3">
					<select class="form-control" name="chart-pie-value">
						<% JSON.parse(@dataset.attrs).each do |key, value| %>
						<option><%= key %></option>
						<% end %>
					</select>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-success" id="redraw-chart-pie">Submit</button>
				</div>
			</div>
			</form>
			<svg style="height: 740px;"></svg>
		</div>
	</div>
	<div id="filters">
		<h3>Data</h3>
		<form id="filters-form">
			<div id="filter-attributes">
			</div>
			<div id="filter-actions" style="margin: 20px 0px;">
				<button type="button" class="btn btn-success" id="add-filter">Add Filter</button>
				<button type="button" class="btn btn-primary" id="submit-filter">Submit</button>
			</div>
		</form>
	</div>
</div>
<script id="filterTemplate" type="text/template">
	<div class="form-attribute" style="margin: 10px 0px;">
		<div class="row">
			<div class="col-xs-5">
				<select class="form-control" name="filter-attribute">
					<% JSON.parse(@dataset.attrs).each do |key, value| %>
					<option><%= key %></option>
					<% end %>
				</select>
			</div>
			<div class="col-xs-3">
				<select class="form-control" name="filter-sign">
					<option>less than (<)</option>
					<option>equals (=)</option>
					<option>greater than (>)</option>
				</select>
			</div>	
			<div class="col-xs-3">
				<input class="form-control" name="filter-value" />
			</div>
			<div class="col-xs-1">
				<button type="button" class="btn btn-danger filter-remove">Remove</button>
			</div>
		</div>
	</div>
</script>
<script id="dataTemplate" type="text/template">
	<tr>
		<% JSON.parse(@dataset.attrs).each do |key, value| %>
		<td><@= <%= key %> @></td>
		<% end %>
	</tr>
</script>
<script>

	// Eliminate conflicts with Rails
	_.templateSettings = {
	    interpolate: /\<\@\=(.+?)\@\>/gim,
	    evaluate: /\<\@(.+?)\@\>/gim,
	    escape: /\<\@\-(.+?)\@\>/gim
	};

	
	var DataModel = Backbone.Model.extend();
	var DataSet = Backbone.Collection.extend({
		model: DataModel,
		url: '/api/<%= @dataset.base_url %>'
	});

	var DataView = Backbone.View.extend({
		el: "#helix",
		template: _.template($('#dataTemplate').html()),
 		render: function(eventName) {
			_.each(this.model.models, function(data) {
				var dataTemplate = this.template(data.toJSON());
				$(this.el).append(dataTemplate);
			}, this);
			return this;
		}
	});
	
	var AppView = Backbone.View.extend({
		el: "body",
		initialize: function() {
			var dataset = new DataSet();
			var datasetView = new DataView({
				model: dataset
			});
			dataset.bind('reset', function() {
				datasetView.render();
			});
			dataset.fetch();
		}

	});

	var App = new AppView;

	// Display the JSON attribute preview on the right
	var sample = JSON.parse('<%= @dataset.attrs.to_s.html_safe %>');
	document.getElementById('attributes').innerHTML = JSON.stringify(sample, null, 2);


	var FilterView = Backbone.View.extend({
		initialize: function() {
			this.render();
		},
		render: function() {
			var template = _.template($('#filterTemplate').html(), {});
			$('#filter-attributes').append(template);
		}
	});

	$('#add-filter').click(function() {
		new FilterView();
	});

	$('#submit-filter').click(function() {
		var filters = $('#filters-form').serializeArray();
		console.log(filters);
	});

	$('.filter-remove').live('click', function() {
		$(this).parent().parent().parent().remove();
		event.preventDefault();
	});

	
	$('#redraw-chart-pie').click(function() {
		var params = $('#chart-pie-form').serializeArray();
		var params_key = params[0]['value'];
		var params_value = params[1]['value'];

		$.post('/api/<%= @dataset.base_url %>', { chart: "pie", key: params_key, aggregate: params_value }, function(data) {
			//Donut chart example
			nv.addGraph(function() {
			  var chart = nv.models.pieChart()
			      .x(function(d) { return d.label })
			      .y(function(d) { return d.value })
			      .showLabels(true)     //Display pie labels
			      .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
			      .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
			      .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
			      .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
			      ;
			 
			    d3.select("#chart-pie svg")
			        .datum(data)
			        .transition().duration(350)
			        .call(chart);
			  return chart;
			});
		});

	});

</script>