<div class="container">
	<h3><%= @dm.name %></h3>
	<div class="row">
		<div class="col-xs-6">
			<table class="table">
				<tr>
					<td>Records</td>
					<td><%= @collection.count %></td>
				</tr>
				<tr>
					<td>Created</td>
					<td><%= @dm.created_at %></td>
				</tr>
				<tr>
					<td>Last Updated</td>
					<td><%= @dm.updated_at %></td>
				</tr>
				<tr>
					<td>Endpoint</td>
					<td><a href="/api/<%= @dm.base_url %>">/api/<%= @dm.base_url %></a></td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6">
			<pre id="attributes"></pre>
		</div>
	</div>
</div>
<script>
	var sample = JSON.parse('<%= @dm.attrs.to_s.html_safe %>');
	console.log(sample);
	document.getElementById('attributes').innerHTML = JSON.stringify(sample, null, 2);
</script>