<div class="container">
	<div class="profile-panel">
		<h3>Worksheets</h3>
		<%= link_to 'New Worksheet', {controller: 'worksheet', action: 'create'}, class: 'btn btn-success btn-or' %>
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Created</th>
					<th>Updated</th>
					<th>View</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<% @user.worksheets.each do |worksheet| %>
				<tr>
					<td><%= worksheet.title %></td>
					<td><%= worksheet.created_at %></td>
					<td><%= worksheet.updated_at %></td>
					<td><a href="/worksheet/<%= worksheet.identifier %>">View</a></td>
					<td><a href="/worksheet/<%= worksheet.identifier %>/edit">Edit</a></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="profile-panel">
		<h3>Datasets</h3>
		<%= link_to 'New Dataset', {controller: 'dataset', action: 'create'}, class: 'btn btn-success btn-or' %>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Created</th>
					<th>Updated</th>
					<th>View</th>
					<th>Destroy</th>
				</tr>
			</thead>
			<tbody>
				<% @user.datasets.each do |dataset| %>
				<tr>
					<td><%= dataset.name %></td>
					<td><%= dataset.created_at %></td>
					<td><%= dataset.updated_at %></td>
					<td><a href="/dataset/<%= dataset.identifier %>">View</a></td>
					<td><a href="/dataset/<%= dataset.identifier %>/destroy">Destroy</a></td>
				</tr>
				<% end %>	
			</tbody>
		</table>
	</div>
</div>