<div id="landing" class="xsection">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<h1>Unlock your data</h1>
				<h3>Discover insights through powerful visualizations</h3>
				<a href="/users/login" class="btn btn-primary btn-lg">Get Started</a>
			</div>
			<div class="col-xs-6">
				<%= image_tag "stock/screenshot.png" %>
			</div>
		</div>
	</div>
</div>
<div id="introduction" class="xsection">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
			</div>
			<div class="col-xs-6">
				<h2>Understand your data</h2>
				<p class="lead">Upload and process your data through our system. Get results.</p>
			</div>
		</div>
	</div>
</div>
<div id="tools" class="xsection">
	<div class="container">
		<div class="row">
			<div class="col-xs-6">
				<h2>Powerful Tools</h2>
				<p class="lead">All hail Lord Helix.</p>
			</div>
			<div class="col-xs-6">
				
			</div>
		</div>
	</div>
</div>
<div id="team">
	<div class="container">
		<h2>Team</h2>
		<div id="members" class="row">
			<div class="col-md-3">
				<%= image_tag "profiles/eri.png" %>
				<div class="name">Eri Gamo</div>
			</div>
			<div class="col-md-3">
				<%= image_tag "profiles/truman.png" %>
				<div class="name">Truman Cranor</div>
			</div>
			<div class="col-md-3">
				<%= image_tag "profiles/tiffany.png" %>
				<div class="name">Tiffany Dharma</div>
			</div>
			<div class="col-md-3">
				<%= image_tag "profiles/roger.png" %>
				<div class="name">Roger Chen</div>
			</div>
		</div>
	</div>
</div>
