<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Storylytics" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cs210 Stockholm" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= yield %>
    </main>
    <footer>
      <div class="container">
        <p class="text-center">
          <a href="http://cs210compuverde.tumblr.com/">Blog</a> | <a href="https://github.com/rcchen/cs210-stockholm">Github</a>
        </p>
        <p class="text-center">
          Built with &#9829; in Palo Alto
        </p>
      </div>
    </footer>


  </body>
</html>
