<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Storylytics" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cs210 Stockholm" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <!-- <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script> -->
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= yield %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-50817017-1', 'storylytics.co');
        ga('send', 'pageview');

      </script>
    </main>
    <footer>
      <div class="container">
        <p class="text-center">
          <a href="http://cs210compuverde.tumblr.com/">Blog</a> | <a href="https://github.com/rcchen/cs210-stockholm">Github</a> | <a href="https://docs.google.com/forms/d/13xFhJgLB_mDFwn11Gl8XyVrRS1C85kFpgKQL8wDNUAQ/viewform">Feedback</a>
        </p>
        <p class="text-center">
          Built with &#9829; in Palo Alto
        </p>
      </div>
    </footer>


  </body>
</html>
